body,h1 {
    margin: 0;
    padding: 0;
}
.header {
    background: #B2EBF4;
    height: 40px;
    padding: 10px;
}
h1 {
    float: left;
}
.menu {
    float:right;
    margin: 0 0 0 0;
    padding: 10px;
}
.container {
    max-width: 600px;
    margin: 20px auto;
}
#memo {
    width: 100%;
    height: 200px;
}
.btnAbout {
  height: 25px ; 
}
.about_popup{
  width: 400px;
  height:160px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -80px;
  background-color: #B2EBF4;
  text-align: center;
  display: none;
}
